.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  min-height: 100vh;
  background-color: rgb(21, 21, 29);
}

.form {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  max-width: 1600px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.formImage {
  flex: 1;
  background-image: url("https://res.cloudinary.com/dg8awhbvm/image/upload/v1686839039/Proyecto%20JS%20vanilla/max-verstappen-anniversary-win-2020-scaled_q7vgkj.jpg");
  background-size: cover;
  background-position: center;
}

.formContent {
  flex: 1;
  padding: 20px;
}

.driverForm {
  display: flex;
  flex-direction: column;
}

.titleForm {
  font-size: 36px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 30px;
}

.formField {
  margin-bottom: 20px;
}

.formField label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: start;
}

.formField input,
.formField textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formField textarea {
  resize: vertical;
  height: 100px;
  color: white;
  background-color: rgb(55, 65, 81);
}

.selected{
  background-color: rgb(55, 65, 81);
  padding: 10px;
  width: 100%;
}

.errorContainer {
  height: 20px; /* Altura fija para el contenedor de errores */
}

.error {
  color: red;
  font-size: 12px;
}

.checkboxContainer {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap; 
  margin-bottom: 15px;
}

.checkboxItem {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkboxInput {
  margin-right: 5px;
}

.checkboxText {
  font-size: 14px;
}

.create {
  background-color: rgb(177, 28, 8);
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create:disabled {
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: #5a0101;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;
  }

  .formImage {
    display: none;
  }

  .formField {
    flex-direction: column;
  }

  .checkboxContainer {
    max-height: 150px;
  }
}


