    .search__box {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 15px;
      }
      
      .search__input {
        width: 250px;
        height: 45px;
        border-radius: 6px;
      }


      .search__button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 40px;
        border-radius: 6px !important;
        background-color: rgb(177, 28, 8);
        color: white;
        cursor: pointer !important;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s;
      }
      
      .search__button:hover {
        background-color: black;
        color: white;
      }
      
      .error {
        color: rgb(226, 8, 8);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
      }
      

