.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
  }
  
  .navbarLogo img {
    width: 130px;
    height: 70px;
  }
  
  .navbarLinks a {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    font-weight: 500;
  }

  .navbarLinks a:hover {
 border-bottom: 1px solid white;
  }
  
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;

    }
  
    .navbarLinks a {
      margin: 10px;
    }
  }

